

<div class="topbar">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="full">
            <button style="float: right; " type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
            <div class="logo_section " style="text-align: center; position: relative;">
               <h3 style="color: #fff; text-align: center;">ShoeXShop</h3>
            </div>
            <div class="right_topbar">
                <div class="icon_info">

                    <ul style="margin-right: 20px;" class="user_profile_dd">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle"
                                    src="/public/admin details/images/layout_img/user_img.jpg" alt="#" /><span
                                    class="name_user">Manu</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">My Profile</a>

                                <a class="dropdown-item" href="/admin/logout"><span>Log Out</span> <i
                                        class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

 <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="index.html"><img class="logo_icon img-responsive" src="/public/admin details/images/logo/logo_icon.png"
                                    alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive"
                                    src="/public/admin details/images/layout_img/user_img.jpg" alt="#" /></div>
                            <div class="user_info">
                                
                                <h6>Manu</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active bagroundmanu">
                            <a href="/admin" data-toggle="" ><i
                                    class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>

                        </li>
                        <li class="bagroundmanu"><a href="/admin/usermanagement"><i class="fa fa-briefcase blue1_color"></i> <span>User
                                    Management</span></a></li>

                        <li class="bagroundmanu">
                            <a href="/admin/addtoproduct" data-toggle=""  ><i
                                    class="fa fa-diamond purple_color"></i>Add Product</a>

                        </li>
                        <li class="bagroundmanu"><a href="/admin/viewproduct" data-toggle=""><i
                                    class="fa fa-diamond purple_color"></i> <span>View Product</span></a></li>
                        <li class="bagroundmanu"><a href="/admin/totalorders"><i class="fa fa-table purple_color2"></i> <span>Total Oders</span></a>
                        </li>
                        <li class="bagroundmanu"><a href="/admin/offermanagement"><i class="fa fa-map purple_color2"></i>Offer Management</a>
                        </li>


                        <li class="active bagroundmanu">
                            <a href="#additional_page" data-toggle="collapse" aria-expanded="false"><i
                                    class="fa fa-clone yellow_color"></i> <span>Oder Management</span></a>
                        </li>

                        <li class="bagroundmanu"><a href="/admin/widget"><i class="fa 	fa fa-desktop purple_color2"></i> <span>widget</span></a></li>
                        <li class="bagroundmanu"><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a>
                        </li>
                        <li class="bagroundmanu">
                            <a href="contact.html">
                                <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                        </li>
                    </ul>
                </div>
            </nav>