<head>
	    <link rel="stylesheet" href="/public/stylesheets/login.css">
</head>
	<body  style="margin: 0; background-image: url('https://wallpapercave.com/wp/wp4020945.jpg');">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: #ffffff;" class="heading-section">Sign Up</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(https://wallpapercave.com/dwp1x/wp8347761.jpg);">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Login</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form method="post" action="/usersignup" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Email</label>
			      			<input type="text" class="form-control" placeholder="Email" name="Email" required="Email">
			      		</div>
							<div class="form-group mb-3">
			      			<label class="label" for="name">Phone Number</label>
			      			<input type="text" class="form-control" placeholder="Phonenumber" name="Phone" required="Number">
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label"  for="password">UserName</label>
		              <input type="text" name="Name" class="form-control" placeholder="Username" required="name">
		            </div>
                    <div class="form-group mb-3">
                        <label class="label" for="name">Password</label>
                        <input type="password" name="Password" class="form-control" placeholder="Password" required="password">
                    </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									
		            </div>
		          </form>
		          <p class="text-center">I have alredy have an account? <a  href="/login">Login</a></p>
				  <br>
				  {{#if signerr}}
				  <p style="color: red;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">This account gmail is alredy exist</p>
				  {{/if}}
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	

	
